@import "./scss/mixins";
@import "./scss/reset";
@import "./scss/variables";

@import url("https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Almendra+Display&display=swap");

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  // font-family: Georgia, "Times New Roman", Times, serif;
  background-image: $backgroundImage;
  height: 100vh;
  background-attachment: fixed;
}

p {
  font-family: cursive;
  color: white;
}
